*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  margin: 0.2rem;
}

body {
  height: 100%;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto !important;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;

  background: linear-gradient(200.96deg, #1c8e92 -29.09%, #1e53bd 85.77%);
}
