*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  margin: 0.2rem;
}

body {
  height: 100%;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;

  background: #1e53bd;
}
